@page
@model GestiuneRestaurant.Pages.ProduseDestinate.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProdusDestinat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProdusDestinat.ID" />
            <div class="form-group">
                <label asp-for="ProdusDestinat.ProdusMeniuID" class="control-label"></label>
                <select asp-for="ProdusDestinat.ProdusMeniuID" class="form-control" asp-items="ViewBag.ProdusMeniuID" ></select>
                <span asp-validation-for="ProdusDestinat.ProdusMeniuID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdusDestinat.CategorieProdusID" class="control-label"></label>
                <select asp-for="ProdusDestinat.CategorieProdusID" class="form-control" asp-items="ViewBag.CategorieProdusID" ></select>
                <span asp-validation-for="ProdusDestinat.CategorieProdusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
