@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bine ati venit in restaurantul nostru!</h1>
    <div class="mt-4">
        <img src="~/images/restaurant.jpg" alt="Imagine Restaurant" style="width:100%; max-width:800px; border-radius: 10px; shadow: 5px 5px 15px rgba(0,0,0,0.3);" />
    </div>

    <p class="lead mt-3">Gestionați rezervările, mesele și meniul într-un mod simplu și rapid.</p>
</div>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
